# Data Science Tools and Ecosystem!

In this notebook, Data Sciece Tools and Ecosystem Summarised!

Some of the popular languages that Data Scientists use are: 

1. Python
2. Java
3. SQL
4. c++ etc ...

Some of the commonly user libraries used by Data Scientists includes: 
1. NumPy.
2. Matplotlib.
3. SciPy.
4. TensorFlow.
5. Keras. 
6. Pytorch.
7. Pandas.
8. Scikit-Learn.

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expression in Python.

In [4]:
# This is a common arithmetic example to multiply and then add integers. 
(2*3)+4

10

In [5]:
# This will convert 200 minutes into hours by dividing by 60
200/60

3.3333333333333335

__Objectives__
* List popular languages for Data science 
* List popular libraries for Data Science
* List of Well Known Data Science Tools
* How to provide comments in the cell

## Author 
Nilesh Bharwad